doctype html
html
	head
		meta(charset="utf-8")
		title study

	body
		header
			nav
				a(href="#") HOME
				a(href="#") CHARACTERS
				a(href="#") FUN
				a(href="#") PICTURES
				a(href="#") STORIES
				a(href="#") HISTORY OF POOH
				a(href="#") NEWS
				a(href="#") TAO
				a(href="#") ABOUT
		.container
			main
				article
					h1 Pooh Goes Visiting				
					p
						a(href="#") Pooh 
						|always liked a little something at eleven o'clock in the morning, and he was very glad to see Rabbit getting out the plates and mugs; and when <a href="#">Rabbit</a> said, 'Honey or condensed milk with your bread?' he was so exited that he said, 'Both' and then, so as not to seem greedy, he added, 'But don't bother about the bread, please.'

			aside
				section
					h2 Popular pages
				section
					h2 More info
