@import 'variables';
@import 'mixins';

body {
	font-family:$main-font;
	font-size:$small-font;
	box-sizing:border-box;
}

#container {
	width:940px;
	margin:0px auto;
	background:$primary-color;
}

header {
	text-align: center;
	nav {
		width:940px;
		height:50px;
		margin:0px auto;
		a{
			color: $primary-color;
			text-decoration:none;
			font-size:$large-font;
			display: inline-block;
			margin-left:25px;
			padding-top:15px;
		}
	}
}
main{
	float:left;
	width:610px;
	article {
		padding:70px 0 90px 100px;
		h1 {
			font-size:$giant-font;
			margin:20px 0;
		}
	}
}

aside {
	padding-top: 40px;
	float:right;
	padding-left:100px;
	padding-top:60px;
	box-sizing:border-box;
	width:330px;
	section {
		h2{
			width:200px;
			height:40px;
			text-transform:uppercase;
			color:$primary-color;
			font-size:$giant-font;
			font-weight:normal;
			padding-top:3px;
			box-sizing:border-box;
			margin-top:50px;
			padding-left:10px;
			border: 3px solid red;
			@include border-radius(25%);
		}
	}
}

